/**************************************/
/* HEADER */
/**************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7d6dd;

  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}

.logo {
  height: 10rem;
}

/**************************************/
/* NAVIGATION */
/**************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c12e4d;
}

.main-nav-link.nav-login:link,
.main-nav-link.nav-login:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #d63355;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.main-nav-link.nav-login:hover,
.main-nav-link.nav-login:active {
  background-color: #c12e4d;
}

.icon-login {
  height: 2.4rem;
  width: 2.4rem;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Sticky navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(247, 214, 221, 0.97);
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  overflow: hidden;
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************************/
/* HERO SECTION */
/**************************************/

.section-hero {
  background-color: #f7d6dd;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

/* .hero-text-box {
} */

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* .hero-img-box {
} */

.hero-img {
  width: 95%;
}

/**************************************/
/* MODAL WINDOW */
/**************************************/

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8rem;

  background-color: #fbebee;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-img {
  width: 50%;
}

.modal-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.modal-heading {
  margin-bottom: 1.6rem !important;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.login-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.login-form input,
.login-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-form input::placeholder {
  color: #aaa;
}

.btn-login,
.btn-login:link,
.btn-login:visited {
  width: 100%;
  color: #fff;
  background-color: #d63355;
}
.btn-login:hover,
.btn-login:active {
  background-color: #c12e4d;
}

.btn-signup,
.btn-signup:link,
.btn-signup:visited {
  align-self: center;
  display: inline-block;
  text-decoration: none;
  color: #666;
  background-color: inherit;

  border: none;
  cursor: pointer;

  border-radius: 5px;
  padding: 0.4rem;
}
.btn-signup:hover,
.btn-signup:active {
  color: #333;
  background-color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/**************************************/
/* HOW IT WORKS SECTION */
/**************************************/

.section-how {
  padding: 9.6rem 0;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  z-index: -1;
}

.step-img-box::before {
  width: 80%;
  background-color: #f7d6dd;
  padding-bottom: 80%;
}

.step-img-box::after {
  width: 60%;
  background-color: #fbebee;
  padding-bottom: 60%;
}

.step-img {
  width: 55%;
}

/**************************************/
/* PRODUCTS SECTION */
/**************************************/

.section-candles {
  padding: 9.6rem 0;
}

.candle {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.candle:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.candle-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.candle-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.candle-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.candle-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 3.2rem;
  padding-bottom: 1.6rem;
}

.candle-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #d63355;
}

.candle-img {
  width: 100%;
}

/**************************************/
/* FOOTER */
/**************************************/

.footer {
  padding: 4.8rem 0;
  border-top: 1px solid #eee;
  background-color: #f7d6dd;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
